@namespace url(http://www.w3.org/1999/xhtml);

@-moz-document regexp(".+\\.md(#.*)?$")
{
  div,p, li, blockquote, td 
{
   font-size: 16px !important;
   font-family: Tahoma,sans-serif !important;
   line-height: 1.1 !important;
/**/     color: black !important; /**/
}
h1,h2,h3,h4, a { font-family: Tahoma,sans-serif !important; }

/* i hate justified text */  
 *[align="justify"]
,*[style*="justify"]
{
   text-align: left !important}
i {font-style: italic  !important;}

table {
    border-collapse: collapse;
    border-spacing: 0;
}
td, th {
    padding: 0;
}
button {
    cursor: pointer;
}
h1, h2, h3, h4, h5, h6 {
    line-height: 1.5;
    margin-bottom: 0;
    margin-top: 0;
}
h1 {
    font-size: 24px;
    font-weight: 600;
}
h2 {
    font-size: 20px;
    font-weight: 600;
}
h3 {
    font-size: 18px;
    font-weight: 600;
}
h4 {
    font-size: 16px;
    font-weight: 600;
}
h5 {
    font-size: 14px;
    font-weight: 600;
}
h6 {
    font-size: 12px;
    font-weight: 600;
}
p {
    margin-bottom: 10px;
    margin-top: 0;
}
small {
    font-size: 90%;
}
blockquote {
    margin: 0;
}
ul, ol {
    margin-bottom: 0;
    margin-top: 0;
    padding-left: 0;
}
ol ol, ul ol {
    list-style-type: lower-roman;
}
ul ul ol, ul ol ol, ol ul ol, ol ol ol {
    list-style-type: lower-alpha;
}
dd {
    margin-left: 0;
}
tt, code {
    font-family: "DejaVu LGC Sans Mono",monospace !important;
    font-size: 12px;
    line-height: 1.2 !important;
}
pre {
    font: 12px "DejaVu LGC Sans Mono",monospace !important;
    margin-bottom: 0;
    margin-top: 0;
    line-height: 1.2 !important;
}
}
@-moz-document regexp("file.+\\.md(#.*)?$"){
  body {padding: 10px; background: rgb(233,233,222) ; border: 1px dotted grey !important;}
}